.DS_Store
*~
*.swp

.CFUserTextEncoding
.Trash/
.atom/
.cups/
.history
.matplotlib/
.python_history
.ssh/
.viminfo
.vim/.netrwhist
.zsh_history
.zsh_sessions

.zprofile
.zshrc

.bash_history
.bash_logout
.bashrc
.cache
.local
.profile
.sudo_as_admin_successful
